<ul class="data-nav">
	<li class="data-nav-li menu-sensor active">
		<img src="/assets/nav/sensor.svg">
		<h3>Sensor</h3>
	</li>
	<li class="data-nav-li menu-heatmap">
		<img src="/assets/nav/heatmap.svg">
		<h3>Heatmap</h3>
	</li>
	<li class="data-nav-li">
		<img src="/assets/nav/irrigation.svg">
		<h3>Irrigation</h3>
	</li>
	<li class="data-nav-li">
		<img src="/assets/nav/settings.svg">
		<h3>Settings</h3>
	</li>
</ul>